<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link  rel="stylesheet" href="./style.css"/>
    <link  rel="stylesheet" href="./node_modules/remixicon/fonts/remixicon.css"/>
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="google-site-verification" content="Q94MWpNA2B0A7kY2-GKYJ6SHBa5u5t9gPIctxXUmMzo" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zacharie Guet</title>
  </head>
  <body class="preload">
    <div id="preloader"><span class="i18n">Bonjour</span></div>
    <div id="app" >
      {% include 'html/menu.html' %}
      <header>
        <canvas id="formes"></canvas>
        <div class="profile-card">
          <div id="photo">
              <img src="/ressources/imageprofil.png">
          </div>
          <h1>Zacharie Guet</h1>
          <p>Ingénieur Informatique</p>
        </div>
      </header>

      <div class="sections">
        <div class="section-container">
            {% include 'html/section-qui-suis-je.html' %}
            {% include 'html/section-mon-parcours.html' %}
            {% include 'html/section-mes-competences.html' %}
            {% include 'html/section-mes-projets.html' %}
            {% include 'html/socials.html' %}
        </div>
      </div>
    </div>
    <script type="module" src="/main.js"></script>
  </body>
</html>
